@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant container (&:where(.container, .container *)); */

@theme {
  --color-primary: #f42c37;
  --color-secondary: #f42c37;
  --color-brandYellow: #fdc62e;
  --color-brandGreen: #2dcc6f;
  --color-brandBlue: #1376f4;
  --color-brandWhite: #eeeeee;
}

.dark {
  background-color: #1e1e1e;
}
/* 
@layer components {
  .container {
    @apply p-1 sm:p-3 mx-auto;
  }
} */
